.calendar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendar-embed-wrapper {
  position: relative;
  height: min(80dvh, 700px);
  width: min(100%, 92vw);
  margin: var(--spacing-xl) var(--spacing-l);
  padding: 1px;
  outline: var(--border-width-m) solid var(--accent-301-shared);
  outline-offset: -1px;
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-3);
  overflow: auto;
  animation: calendar-in forwards var(--trs-m) 250ms;
}

/*.calendar-embed-wrapper.loading::after {
  content: "Cargando el calendario...";
  min-height: 5lh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  opacity: 0.75;
  color: var(--text-clr-dimish);
  font-size: var(--fz-l);
  font-family: var(--ff-heading);
  background-color: var(--accent-500);
  border-radius: var(--radius-s);
}*/

.google-calendar-embed {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-m);
  filter: var(--calendar-brightness);
}

.calendar-bottom-text-wrapper {
  margin-block-end: var(--spacing-xl);
  padding: var(--spacing-l) var(--spacing-m);
  max-width: min(90vw, 70ch);
}
.calendar-para {
  padding-inline: var(--spacing-m);
  font-size: var(--fz-ml);
}
.calendar-para.tip {
  font-size: var(--fz-m);

  & span:first-of-type {
    font-family: var(--ff-italics);
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--accent-301-shared);
  }

  & span:last-of-type {
    font-family: var(--ff-extra);
  }
}

.about-cta {
  max-width: 55ch;
  margin: 0 auto var(--spacing-xl) auto;
  padding: var(--spacing-xl);
  text-align: center;
  opacity: 0.3;
  transition: opacity var(--trs-m);
}

.about-cta.intersected {
  opacity: 1;
}

.about-cta-title {
  font-size: var(--fz-xl);
  color: var(--primary-900);
  margin-block-end: var(--spacing-m);
  font-weight: 650;
  font-variation-settings: "wght" 650;
}

.about-cta-description {
  font-size: var(--fz-ml);
  margin-block-end: var(--spacing-l);
}

.about-cta-button-wrapper {
  display: inline-block;
  height: fit-content;
  width: fit-content;
}

.about-cta-button {
  will-change: scale;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-s);
  padding: var(--spacing-m) var(--spacing-l);
  font-family: var(--ff-extra-bold);
  font-size: var(--fz-ml);
  border-radius: var(--radius-m);
  border: var(--border-width-m) solid var(--accent-400-shared);
  box-shadow: var(--shadow-2);
  transition:
    background-position var(--trs-s),
    scale var(--trs-s),
    box-shadow var(--trs-s),
    translate var(--trs-s);
  background-image: linear-gradient(
    139deg,
    var(--accent-100),
    var(--accent-200),
    var(--accent-100)
  );
  background-size: 263%;
  background-position: 0%;

  .about-cta-button-wrapper:hover & {
    translate: 0 -2.3px;
    box-shadow: var(--shadow-3);
    background-position: 100%;
    border-color: var(--accent-500-shared);
    transition:
      background-position var(--trs-l),
      scale var(--trs-s),
      border-color var(--trs-m),
      box-shadow var(--trs-s),
      translate var(--trs-s);

    & .about-cta-button-arrow {
      translate: 5px 0.0625em;
    }
  }

  .about-cta-button-wrapper:active & {
    translate: 0;
    box-shadow: var(--shadow-1);
  }
}

.about-cta-button-arrow {
  position: relative;
  font-size: var(--fz-ml);
  translate: 0 0.0625em;
  transition: translate var(--trs-s);
}

@keyframes calendar-in {
  0% {
    opacity: 0;
    translate: 0 18px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
